[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "themes/hugo-scroll"]
	path = themes/hugo-scroll
	url = https://github.com/janraasch/hugo-scroll.git
